[submodule "wasmtime"]
	path = wasmtime
	url = https://github.com/omnide/wasmtime
	branch = main
[submodule "wasmcloud"]
	path = wasmcloud
	url = https://github.com/omnide/wasmcloud
	branch = main
[submodule "tinygo"]
	path = tinygo
	url = https://github.com/omnide/tinygo
	branch = dev
[submodule "wash"]
	path = wash
	url = https://github.com/omnide/wash
	branch = main
[submodule "wabt"]
	path = wabt
	url = https://github.com/omnide/wabt
	branch = main
[submodule "wit-bindgen"]
	path = wit-bindgen
	url = https://github.com/omnide/wit-bindgen
	branch = main
[submodule "WASI"]
	path = WASI
	url = https://github.com/omnide/WASI
	branch = main
[submodule "wasi-testsuite"]
	path = wasi-testsuite
	url = https://github.com/omnide/wasi-testsuite
	branch = main
[submodule "wasm-tools-go"]
	path = wasm-tools-go
	url = https://github.com/omnide/wasm-tools-go
	branch = main
[submodule "wit-grammar"]
	path = wit-grammar
	url = https://github.com/omnide/wit-grammar
	branch = main
[submodule "actor-tinygo"]
	path = actor-tinygo
	url = https://github.com/omnide/actor-tinygo
	branch = main
[submodule "wasmcloud.com"]
	path = wasmcloud.com
	url = https://github.com/wasmcloud/wasmcloud.com
	branch = main
[submodule "tinygo-site"]
	path = tinygo-site
	url = https://github.com/omnide/tinygo-site
	branch = dev
