<?xml version="1.0" encoding="UTF-8"?>
<testsuites tests="1" failures="0" errors="0" time="11.884824">
	<testsuite tests="1" failures="0" time="0.000000" name="plugin" timestamp="2024-04-26T04:14:10Z">
		<properties>
			<property name="go.version" value="go1.22.2 linux/arm64"></property>
		</properties>
		<testcase classname="plugin" name="TestPlugin" time="0.000000"></testcase>
	</testsuite>
</testsuites>