<?xml version="1.0" encoding="UTF-8"?>
<testsuites tests="0" failures="1" errors="0" time="1.098518">
	<testsuite tests="0" failures="0" time="0.000000" name="plugin" timestamp="2024-04-09T12:45:40Z">
		<properties>
			<property name="go.version" value="go1.22.0 linux/arm64"></property>
		</properties>
		<testcase classname="" name="TestMain" time="0.000000">
			<failure message="Failed" type="">FAIL&#x9;plugin&#x9;0.000s&#xA;# plugin&#xA;../../../usr/local/go/src/plugin/plugin_dlopen.go:10:6: not implemented: build constraints in #cgo line&#xA;lib/musl/include/limits.h:40:10: fatal: &#39;bits/limits.h&#39; file not found&#xA;../../../usr/local/go/src/plugin/plugin_dlopen.go:12:10: note: in file included from plugin_dlopen.go!cgo.c:5:&#xA;</failure>
		</testcase>
	</testsuite>
</testsuites>